# Web Scraper

In [33]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

 The function below collects the primary school rank table form:

 https://clueylearning.com.au/en/school-rankings/top-primary-schools/wa/'

 It can be converted to json file or pandas DataFrame.

In [69]:
def table_web_scraping(url='https://clueylearning.com.au/en/school-rankings/top-primary-schools/wa/', json=False):

  page = requests.get(url)

  soup = BeautifulSoup(page.content, 'lxml')
  table = soup.find_all('table')

  df = pd.read_html(str(table))[0]

  if json:
    return df.to_json(orient='records')
  return df

In [70]:
df = table_web_scraping()
df

       #  ...                             My School URL
0      1  ...  https://www.myschool.edu.au/school/48641
1      2  ...  https://www.myschool.edu.au/school/48367
2      3  ...  https://www.myschool.edu.au/school/49142
3      4  ...  https://www.myschool.edu.au/school/49030
4      5  ...  https://www.myschool.edu.au/school/48468
..   ...  ...                                       ...
145  146  ...  https://www.myschool.edu.au/school/48424
146  147  ...  https://www.myschool.edu.au/school/49029
147  148  ...  https://www.myschool.edu.au/school/48900
148  149  ...  https://www.myschool.edu.au/school/48390
149  150  ...  https://www.myschool.edu.au/school/48546

[150 rows x 9 columns]